body {
    background-color: #fff !important;
}

.login-form-container {
    margin-top: 20px;
}

.userinfo-box {
    display: contents;
}

.main-container {
    max-width: 80% !important;
}

.product-title {
    width: 100%;
}

.product-title a {
    color: #757575 !important;
    text-decoration: none !important;
}

.product-title a:hover {
    color: #00ACC1 !important;
}

.brand-title a {
    color: #FAFAFA !important;
    text-decoration: none !important;
}

.review-rates {
    display: inline-block;
}

.review-column {
    border-left: 2px solid #EEEEEE;
    background-color: #FFFFFF;
}

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
}
@-moz-keyframes loader {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
}
@-webkit-keyframes loader {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
}
@-o-keyframes loader {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
}
@keyframes loader {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
}

.v-progress-circular {
    margin: 1rem;
}